body {
    font-family: 'Roboto', sans-serif;
  }

header {
    max-width: 1000px;
    height: 50px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
    padding: 20px;
  }

main {
    max-width: 800px;
    height: 50px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    display: grid;
    padding: 1rem;
    background-color: #e6f2ff;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    grid: 150px / auto auto auto;
  }

.handler{
    margin-top: 1px;
    width: 250px;
}

.box > * {
    border: 1px solid rgb(96 139 168);
    border-radius: 5px;
    background-color: #e6f2ff;
    margin: 15px;
    width: 350px;
    height: 350px;
  }
  
.box {
    width: 800px;
    height: 1200px;
    border: 2px dotted #e6f2ff;
    display: flex;
    flex-wrap: wrap;
  }
.long_1{
    width: 800px;
    height: 900px;
}

section {
    margin: 0.05rem auto; 
    max-width: 960px; 
    padding: .1rem;
}

figure{
    text-align: center;
    
}

h1 {
	font-size: 2rem;
}

h2{
    text-align: center;
    font-weight: 700px;
    margin-block-start: 5px;
    margin-block-end: 1px;
    height: 50px;
}

nav{
    width: 400px;
    margin-inline-start: 540px;
    margin-block-start: -40px;
}

nav a {
    color: rgb(6, 99, 180);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: medium;
}

nav ul {
	list-style: none;
}

@media only screen {
  .side {
    float: none;
    position: static;
    width: auto;
  }
}

.flex-container {
    display: flex;
    background-color: #f2f2f2;
    padding: 5px;
    margin-inline-start: -18px;
}

.flex-container-2 {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    margin-inline-start: -18px;
}

.flex-container-3 {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    margin-inline-start: -18px;
}

.flex-container-4 {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
}

.flex-container-5 {
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    margin-inline-start: -18px;
}

.flex-item {
    background-color: #e6f2ff;
    color: white;
    margin: 5px;
    padding: -1px;
    text-align: center;
    flex: 1;
    width: 450px;
}
  
a:hover {
    color: red;
    text-decoration: underline double;
}

.active {
	color: rgb(239, 8, 119);
}

img { 
    width: 100%; 
    height: auto; 
    margin: .12rem;
}

footer {
    max-width: 1000px;
    height: 70px;
    margin: 10px auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 30px;
    margin-top: 3450px;
  }

footer p {
	height: 30px;
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: -55px;
}

footer div {
	height: 40px;
    padding: 0;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: -55px;
}

figcaption {
    font-size: smaller;
}
