header {
    max-width: 700px;
    height: 60px;
    margin: 1rem auto;
    border: 1px solid #090303;
    background-color: #020407;
    padding: 20px;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
  }

h1{
  font-size: 40px;
  margin-top: 9px;
  color: #f7f8fa;
}

main {
    max-width: 700px;
    height: 900px;
    margin: 1rem auto;
    border: 1px solid #919090;
    background-color: #afb1b3;
    padding: 20px;
    text-align: left;
}

form.form {
    display: table;
  }
  
  div.form {
    display: table-row;
  }
  
label,input {
  
    margin-bottom: 2px;
  }
  
  label {
    padding-left: 10px;
    width: 1px;
    
  }

  td{
    width: 750px;
  }

  td2{
    width: 750px;
    height: 200px
    
  }  

input[type="text"] {
    width: 350px;
}

input[type="text2"],[type="date"],[type="cars"] {
  width: 350px;
}

input[type="submit"]{
  text-align: center;
}














footer {
    max-width: 700px;
    height: 40px;
    margin: 1rem auto;
    border: 1px solid #170404;
    padding: 1rem;
    background-color: #020507;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 30px;
  }

footer p {
	height: 70px;
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: -55px;
    color: #f7f8fa;
    
}

footer div {
	height: 70px;
    padding: 0;
    text-align: center;
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: -55px;
    color: #f7f8fa;
}
